<header id ="header">
  <div class = "nav" id = "nav">
<div class = "icons">
        <a href = "/" class = "logo visible" style = "padding: 0;margin: 0;"><img src = "/icons/favicon-32x32.png" width = "28" height = "28"></a>
        <a href="javascript:void(0);" class="icon visible" onclick="expansion()">
            <i class="fa fa-bars"></i>
        </a>
      </div>
    <div class = "item-row" id="topNav">
      
      <a href = "/" class = "item navitem">Home</a>
      <a href = "/projects" class = "item navitem">Projects</a>
      <a href = "/blog" class = "item navitem">Blog</a>
      <a href = "/contact" class = "item navitem">Contact</a>
    </div>
 
  </div>
</header>