{% import "./macros/macros.html" as macros %}
<!DOCTYPE html>
<html>
  <head>
    
    {{ macros.head("Blog | SOJS","dark") }}
    
    <link href = "/css/blog_stream.css" rel = "stylesheet">
  </head>
  <body>
    
    {% include "./partials/nav.html" %}
    <main class = "body">
      <section class= "body stream-big big slowtext">
        <div class="heading">
          <h1 class="display">SOJS Stream</h1>

          <form action = "/search" method = "get">
            <input name = "q" placeholder="Search"> In: 
            <select name = "in">
              <option value = "s">Stream</option>
              <option value = "b">Blog</option>
              <option value = "t">Tutorials</option>
              <option value = "d">Dev Logs</option>
            </select>
            <input type = "submit" value = "Go">
          </form>
          <div class  ="blog_stream">
          
          </div>

        </div>
      </section>
      {{ macros.footer() }}
    <script src = "/js/blog_top.js"></script>
    <script src = "/js/loadten.js"></script>
    
    
    </main>
    {{ macros.scripts("Your experience with this site will be greatly improved by enabling JavaScript") }}
  </body>
</html>
  