{% import "./macros/macros.html" as macros %}
<!DOCTYPE html>
<html>
  <head>
    {{ macros.head("Login | SOJS","dark") }}
  </head>
  <body>
    {% include "./partials/nav.html" %}
    <main class = "body">
      <section class= "body big slowtext">
        <div class="heading">
          <h1 class="display">SOJS</h1>
          <p class = "byline">Log In</p>
          <form action = "/login" method = "post"><input name = "key" type = "password"><input type = "submit" value = "Log In"></form>
          
         
<!-- <button id = "SoAuthButton">Log In With SoAuth</button> -->

<!-- <script src = "https://SoAuth.sojs.repl.co/js/soauth.js"></script> -->
        
        </div>
      </section>
    </main>
    {{ macros.scripts("Your experience with this site will be greatly improved by enabling JavaScript") }}
  </body>
</html>