{% import "./macros/macros.html" as macros %}
<!DOCTYPE html>
<html>
  <head>
    <link href = "/css/blog_post.css" rel = "stylesheet">
    {{ macros.head("SOJS","dark") }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js" integrity="sha512-bgHRAiTjGrzHzLyKOnpFvaEpGzJet3z4tZnXGjpsCcqOnAH6VGUx9frc5bcIhKTVLEiCO6vEhNAgx5jtLUYrfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css"
/>
    <script>
      hljs.addPlugin(new CopyButtonPlugin());
      hljs.highlightAll();
    </script>
  </head>
  <body>
    {% include "./partials/nav.html" %}
    <main class = "body">
      <section class = "big align-left">
        <div class = "blog-title">
          <h1 class="display no-margin">{{ post.title }}</h1>
          {% if(loggedIn) %}
            <a href = "/update/{{ post.posts }}">Update this post, {{ loggedIn.username }}</a>
          {% endif %}
          <p class = "byline">{{ post.author }} - <span data-timestamp = "{{ post.timestamp }}" class = "timestamp"></span></p>
          <p class = "byline">{{ post.des }}</p>
        </div>
        <br>


        <div class = "content">
          {{ post.content | safe }}
        </div>
        <div class = "email_sign align-left">
          <form action = "/email-sign" method = "POST" style = "padding-left: 15px; border-left: 6px solid #000000a0;">
            <h2>Signup for Updates</h2>
            <p>Emails are sent out monthly, no spam, ever.</p>
            <input name = "email" placeholder = "jane.doe@example.com"><input type = "submit" value = "Submit">
            <div style = "margin: 4px;">
            <a href = "/contact">Write For Us</a>
          </a>
          </form>
          
        </div>
        <div>
         
        </div>
      </section>
    </main>
    <script src = "/js/timestamp-to-date.js"></script>
    {{ macros.scripts("Your experience with this site will be greatly improved by enabling JavaScript") }}
  </body>
</html>