.content{
  padding: 12px;
  margin-left: 25%;
  margin-right: 4%;
  width: 45%;
  
}
.body .content p{
  font-size: 19px !important;
  line-height: 1.7em;
  letter-spacing: 0.7px;
}
.blog-title{
  padding: 12px;
  margin-left: 25%;
  margin-right: 4%;
  width: 45%;
  border-bottom: 1px solid #ff0000aa;
}
.email_sign{
  margin-left: 25%;
  margin-right: 4%;
  padding: 12px;
}