

.toggle-checkbox {
  position:absolute;
  top:0; left:0;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.toggle-container{
  position:relative;
  z-index: 2;
}
.toggle-slot {
  transform: scale(0.8);
  margin: 10px; 
  position: fixed;
  bottom: 0;
  right: 0;
  height: 2.5em;
  width: 5em;
  border: 1px solid #e4e7ec;
  border-radius: 2em;
  background-color: white;
  transition: background-color 250ms;
  cursor: pointer;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #374151;
}

.toggle-button {
  transform: translate(2.9375em, 0.4375em);
  position: absolute;
  height: 1.625em;
  width: 1.625em;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.75em white;
  transform: translate(0.4375em, 0.4375em);
}

.sun-icon {
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  color: #ffbb52;
}

.sun-icon-wrapper {
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  opacity: 1;
  transform: translate(0.5em, 0.5em) rotate(3.75deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(0.75em, 0.75em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  color: white;
}

.moon-icon-wrapper {
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  opacity: 0;
  transform: translate(2.75em, 0.5em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(3em, 0.5em) rotate(-3.0625deg);
}