:root{
  --background-color: #000;
}
body{
  background: #000;
}
a{
  color: #ccc;
}
a:hover{
  color: white;
}
.blog_card{
  box-shadow: 0px 0px 2px #ffffffaa !important; 
}
.blog_card p{
  color: white;
}
.social a{
  color: dodgerblue;
}
.big{
  color: #ccc;
}
hr{
  color: #ffffffaa;
}
.button{
  border: 1px solid white;
  background-color: black;
  color: white;
  transition: 250ms;
}
.button:hover{
  color: black;
  background-color: white;
}
.active{
  color: dodgerblue;
}
.textbox{
  background-color: #00000000;
  color: white;
  border: 1px solid #ffffffaa;
}
input{
  border: 1px solid white;
  background-color: black;
  color: white;
}
select{
  display: inline-block;
  padding: 2px 0 2px 0;
  color: white;
}
option{
  background-color: black;
}

h2,h3{
  color: white;
}
.blog_nav{
  background: black !important;
}
.blog_nav .navitem.active{
  color: #fff !important;
}
.blog_nav .navitem{
  border-bottom: 4px solid white;
}
footer{
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: #000000aa;
}